<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceDebug includeExceptionDetailInFaults ="true "/>
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9090/Metadata"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netMsmqBinding>
        <binding name ="HSBCQueueBinding" useActiveDirectory ="false">
          <security mode ="None"></security>
        </binding>
      </netMsmqBinding>
    </bindings>
    <services>
      <service name="HSBCServicesApp.Implementations.Calculator"
               behaviorConfiguration="metadataBehavior"
               >
        <endpoint address="http://localhost:9090/HSBCServices/CalculatorService"
                  binding="basicHttpBinding"
                  contract="HSBCServicesApp.Contracts.ICalculator"></endpoint>
        <endpoint address="net.tcp://localhost:9091/HSBCServices/AdvCalculatorService"
                  binding="netTcpBinding"
                  contract="HSBCServicesApp.Contracts.IAdvCalculator"></endpoint>

        <endpoint address="net.msmq://localhost/private/HSBCQueue"
                  binding="netMsmqBinding"
                  bindingConfiguration="HSBCQueueBinding"
                  contract="HSBCServicesApp.Contracts.IAdvOneWayCalculator"></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>
