<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:9090/HSBCServices/CalculatorService"
                binding="basicHttpBinding"
                contract="HSBCServicesApp.Contracts.ICalculator"
                name="calculatorServiceEndPoint"
                ></endpoint>
      <endpoint address="net.tcp://localhost:9091/HSBCServices/CalculatorOnTcp"
                binding="netTcpBinding"
                contract="HSBCServicesApp.Contracts.ICalculator"
                name="calculatorServiceEndPointOnTcp"
                ></endpoint>
      <endpoint  name="calculatorServiceOnNamedPipe"
                  address="net.pipe://localhost/CalculatorService"
                  binding="netNamedPipeBinding"
                  contract="HSBCServicesApp.Contracts.ICalculator"></endpoint>
    </client>
  </system.serviceModel>
</configuration>
