<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled ="true" httpGetUrl ="http://localhost:9090/Metadata"/>
        </behavior> 
      </serviceBehaviors> 
    </behaviors> 
    <services>
      <service name ="ChatAppServiceHost.ChatService" >
        <endpoint address="net.tcp://localhost:9091/ChatService"
                  binding="netTcpBinding"
                  contract="ChatAppServiceHost.IChatService"></endpoint>
      </service>
    </services> 
  </system.serviceModel> 
</configuration>
