<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9090/Metadata"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="HSBCServicesApp.Implementations.Calculator"
               behaviorConfiguration="metadataBehavior"
               >
        <endpoint address="http://localhost:9090/HSBCServices/CalculatorService"
                  binding="basicHttpBinding"
                  contract="HSBCServicesApp.Contracts.ICalculator"></endpoint>
        <endpoint address="net.tcp://localhost:9091/HSBCServices/AdvCalculatorService"
                  binding="netTcpBinding"
                  contract="HSBCServicesApp.Contracts.IAdvCalculator"></endpoint>
        
      </service>
    </services>
  </system.serviceModel>
</configuration>
